#aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: auto;
    padding: 2rem;
    height: auto;
    z-index: 2;
    position: relative;
    /* background-color: red; */
    margin-bottom:3rem;
    /* height: 100vh; */
}

.styling {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin-bottom: 3rem;
    max-width: max-content;
    text-align: left;
    margin-left: auto;
    width: 40%;
    font-family: 'Black Ops One';
}


.styling .text {
    font-size: 1rem;
    margin-left: 1rem;

}

.line {
    height: 3px;
    background-color: gray;
    width: 300px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* width: 100%; */

}

.myImage {
    position: relative;
    /* width: 50%; */
    height: auto;
    object-fit: contain;
    
}

.myImage img {
    width: 100%;
    height: 100%;
    border-radius: 15% 55% 62% 28%/64% 33% 67% 36%;

}

.blob-image {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--hover-color);
    border: 0.1rem solid var(--main-color);
    border-radius: 80% 25% 62% 58%/64% 73% 27% 36%;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(-50%, -50%);
    animation:blob infinite 15s ;
}

#green{
    color:var(--main-color)
}


@keyframes blob {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.myInfo {
    color: lightgray;
    text-align: justify;
    font-family: "Ms Modi";
    margin-left: 4rem;
    
    
}


.myInfo p{
    font-size: 120% !important;
}


@media only screen and (max-width:600px) {
    .myInfo p{
        font-size: 1rem !important;
    }
    .myInfo {
        margin-left: 0;
    }
    .info {
        flex-direction: column;
    }

    .myImage {
        width: 80%;
    }

    .blob-image {
        width: 100%;
        height: 100%;
    }
    .line{
        width:100px
    }
    .myInfo{
        max-width: 100%;
    }
}

@media only screen and (min-width:8500px) {
    .myInfo{
        font-size: 4rem;
    }.myImage{
        width: 30%;
    }
    .myInfo{
        width: 70%;
    }.styles{
        margin-top:6rem;
    }
}

@media only screen and (min-width:2500px){
    .myImage{
        width: 30%;
    }
 .myInfo{
        width: 70%;
        font-size: 2rem;
    }
}