nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
    background-color: rgba(8, 8, 8);
    width: 100vw;
    /* position: fixed; */
    top: 0;
    /* position: relative; */
    margin-bottom: 2rem;
    z-index: 222;
}

.hide-nav {
    display: none;
}

.brand {
    font-size: clamp(1.8rem, 2vw, 2.5rem);
    font-family: var(--heading-font);
    color: var(--main-color);
    padding: 0.5rem;
    width: max-content;
    cursor: pointer;
    font-family: 'Black Ops One', cursive;
}

.nav-items {
    display: flex;
    margin: auto;
    font-family: 'Merriweather', serif;
    font-size: 0.8rem;
}

.nav-items a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
    cursor: pointer;
    font-size: 1rem;
}

.nav-items a:hover {
    color: var(--main-color);
}

.single-item {
    margin: 0 1.4rem;
}

.single-item a {
    width: 62px;

}



.resume button {
    background: transparent;
    border: none;
    color: var(--main-color);
    font-size: clamp(1.8rem, 2vw, 2.5rem);
    font-family: 'Black Ops One', cursive;
    cursor: pointer;
}

.toggler svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--main-color);
    display: none;
}

.whole-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 0; */
}




@media only screen and (max-width:600px) {
    nav {
        width: 100%;
        flex-direction: column;
        position: relative;
        background: rgba(8, 8, 8);
    }

    .brand {
        align-self: flex-start;
        display: flex;
        justify-content: space-between;
        /* width: 100%; */
        margin-right: auto;
        position: absolute;
        left: 4%;
        top: 50%;
    }

    .nav-items {
        flex-direction: column;
        width: 100%;
    }

    .resume {
        position: absolute;
        right: 0%;
        top: 50%;
        padding: 0.5rem;

    }

    .nav-items .single-item {
        margin: auto;
        margin-bottom: 1rem;
    }

    .toggler {
        z-index: 222;
        top: 100%;
        font-weight: 800;
        right: 46%;
        position: absolute;
    }

    .toggler svg {
        display: block;
        margin: auto;
    }

    .line-through {
        display: none;
    }

    .whole-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .show {
        flex-direction: column;
        align-items: center;
        background: linear-gradient(#000, var(--main-color), #003025ea);
        position: absolute;
        z-index: 22;

        height: 100vh;
        color: #000;
        font-family: 'Black Ops One', sans-serif;
        font-weight: 600;
    }

    .show:hover {
        color: #000;
    }

    .hide {
        height: 100vh;
        opacity: 0;
        position: absolute;
        scale: 0;
        transition: all 0.1s;
        display: none;
    }
}

@media only screen and (min-width:8500px) {
    .brand {
        font-size: 7rem;
    }

    .resume button {
        font-size: 7rem;

    }

    nav {
        padding-top: 5rem;
    }

    .nav-items .single-item a {
        font-size: 3rem;
        padding: 0 3rem
    }

}